/* https://cdn.jsdelivr.net/npm/element-ui/README.md */
@font-face {
	/* src: url(./fonts/element-icons.woff) format('woff'), url(./fonts/element-icons.ttf) format('truetype'); */
	src: url(https://cdn.jsdelivr.net/npm/element-ui/lib/theme-chalk/fonts/element-icons.woff) format('woff'),
		url(https://cdn.jsdelivr.net/npm/element-ui/lib/theme-chalk/fonts/element-icons.ttf) format('truetype');
	font-family: element-icons;
	font-weight: 400;
	font-display: 'auto';
	font-style: normal;
}

[class*='el-icon-'],
[class^='el-icon-'] {
	display: inline-block;
	font-family: element-icons;
	font-style: normal;
	font-weight: 400;
	font-variant: normal;
	text-transform: none;
	color: #606266;
	line-height: 1;
	vertical-align: baseline;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* [class*='el-icon-']:hover,
[class^='el-icon-']:hover {
  color: #5cb6ff;
} */

.el-icon-check:before {
	content: '\e6da';
}
.el-icon-close:before {
	content: '\e6db';
}
.el-icon-question:before {
	content: '\e7a4';
}
.el-icon-s-order:before {
	content: '\e7be';
}

[v-cloak] {
	display: none;
}

html,
body {
	font-size: 100%;
	margin: 5px 0;
}

/* 滚动条 */
::-webkit-scrollbar {
	width: 5px;
	height: 5px;
	background-color: transparent;
	border-radius: 3px;
}
::-webkit-scrollbar-thumb {
	background-color: rgba(151, 169, 204, 0.5);
	border-radius: 3px;
}
::-webkit-scrollbar-corner {
	background-color: transparent;
}

.container {
	display: flex;
	font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial,
		sans-serif;
	color: #2c3e50;
}

/* .jielong {
  width: 310px;
  height: 900px;
  margin: 0 10px;
} */

.jielong-input,
.jielong-checkgroup {
	width: 320px;
	margin-left: 5px;
	margin-right: 10px;
}

.jielong-input > textarea {
	width: 310px;
	height: 900px;
	font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial,
		sans-serif;
	font-size: 16px;
	color: #2c3e50;
}

.jielong-input > input[type='file'] {
	margin: 5px 0 10px 0;
}

.jielong-input > .actions {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: wrap;
}

.jielong-input > .actions > button {
	width: 100px;
	height: 40px;
	padding: 0;
	background-color: transparent;
	background-image: linear-gradient(0deg, rgba(65, 172, 218, 0.8), rgba(45, 103, 173, 0.8));
	border: 1px solid #69a5f2;
	border-radius: 2px;
	font-size: 16px;
	color: #fff;
	cursor: pointer;
}

.jielong-input > .actions > button:hover {
	background-image: linear-gradient(0deg, rgba(52, 137, 173, 0.7) 3%, rgba(33, 76, 128, 0.7) 100%);
	border-color: #5bcfe7;
	color: #5bcfe7;
}

.jielong-input > .actions > button:focus {
	background-image: linear-gradient(0deg, rgba(52, 137, 173, 0.7) 3%, rgba(33, 76, 128, 0.7) 100%);
	border-color: #5ad1eb;
	color: #5ad1eb;
}

.jielong-input > .actions > button > span {
	display: inline-block;
	width: 92px;
	height: 32px;
	line-height: 32px;
	background-color: transparent;
	border: 1px solid #69a5f2;
	border-radius: 2px;
	color: #ffffff;
}

/* .jielong-input > .actions > button + button {
  margin-left: 10px;
} */

.jielong-input > .actions > button {
	margin: 5px;
}

.jielong-area,
.jielong-output {
	flex: 1;
	width: 310px;
	margin-left: 5px;
	margin-right: 5px;
}

.jielong-output > .daily-settle .name-list > span {
	padding: 0 2px;
	border: 1px dashed transparent;
	line-height: 24px;
	cursor: pointer;
}

.jielong-output > .daily-settle > .not-paid-list > .name-list > span,
.jielong-output > .daily-settle > .not-settle-list > .name-list > span {
	font-weight: 500;
	color: orange;
	cursor: pointer;
}

/* .jielong-output > .daily-settle > .not-paid-list > .name-list > span:hover,
.jielong-output > .daily-settle > .not-settle-list > .name-list > span:hover {
  color: #5cb6ff;
} */

.jielong-output > .daily-settle > .not-paid-list > .name-list > span.settling,
.jielong-output > .daily-settle > .not-settle-list > .name-list > span.settling {
	border-color: orange;
}

.jielong-output > .daily-settle > .jielong-paid-list > .name-list > span.handle-settled,
.jielong-output > .daily-settle > .paid-settle-list > .name-list > span.handle-settled {
	background-color: #cdd3cd;
	border-style: solid;
	border-color: #cdd3cd;
}

/* .jielong-delivery {
  margin-top: 25px;
} */

/* Vue + Element版本 */
.el-table .el-table__body-wrapper .el-table__body tr > td.table__column--black {
	font-weight: bold;
	color: #606266;
}

.el-table .el-table__body-wrapper .el-table__body tr > td.table__column--green {
	font-weight: bold;
	color: green;
}

.el-table .el-table__body-wrapper .el-table__body tr > td.table__column--blue {
	font-weight: bold;
	color: #69a5f2;
}

.checked-list .el-checkbox.is-bordered {
	width: 320px;
	height: auto;
}

.checked-list .el-checkbox .el-checkbox__label {
	white-space: normal;
}

.checked-list > div {
	margin: 5px 0;
}
