.container {
    display: flex;
    font-family: Avenir, Helvetica, Arial, sans-serif;
}

/* .jielong {
    width: 300px;
    height: 900px;
    margin: 0 10px;
    font-size: 14px;
} */

.jielong-input {
    width: 320px;
    margin-right: 10px;
}

.jielong-input > textarea {
    width: 320px;
    height: 900px;
}

.jielong-input > input {
    margin: 5px 0 10px 0;
}

.jielong-input > .actions {
    display: flex;
    justify-content: center;
    align-items: center;
}

.jielong-input > .actions > button {
    width: 100px;
    height: 40px;
}

.jielong-input > .actions > button + button {
    margin-left: 10px;
}

.jielong-area,
.jielong-output {
    width: 300px;
    margin: 0 10px;
    font-size: 14px;
}

/* .jielong-delivery {
    margin-top: 25px;
} */
